<div class="deleteTab">
  <mat-card>
    <h2 class="form-header">Delete Actor</h2>
    <form [formGroup]="deleteForm" (onSubmit)="deleteActorSubmit()">
      <mat-grid-list cols="10" rowHeight="1:1">
        <mat-grid-tile colspan="4">
          <mat-form-field>
            <mat-label for="name">Enter Name</mat-label>
            <mat-select id="name" formControlName="name">
              <mat-option>--NONE--</mat-option>
              <mat-option
                *ngFor="let actorName of actorList$ | async"
                [value]="actorName"
              >
                {{ actorName | stringFormatter : "t" }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
          <mat-form-field>
            <mat-label for="mobile">Select Mobile</mat-label>
            <input matInput id="mobile" formControlName="mobile" />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
          <button mat-raised-button color="accent" type="submit">
            Delete Actor
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
</div>
